.body-index {
  background: #212127;
  font-family: Microsoft JhengHei;
  color: #fff;
  .container {
    margin-top: 300px;
  }
  a {
    font-size: 30px;
  }
}

.body-guess {
  background: #212127;
  font-family: Microsoft JhengHei;
  color: #fff;
  .input {
    font-size: 30px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
